

.email-icon {
    width: 30px;
    height: 20px;
    position: relative;
    overflow: hidden;
    border-top: 2px solid black;
    border-color: black;

    &--hovered {
        border-top-color: blue;
    }

    &__top {
        border-top:10px solid black;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        left: 0.5px;
    }

    &__right {
        border-right:30px solid black;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        position: absolute;
        top: 1px;
        right: 0;
    }

    &__left {
        border-left:30px solid black;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        position: absolute;
        top: 1px;
        left: 0;        
    }
}