@use "./styles/mixins.scss" as *;

.hero {
  @include section;
}

.contact,
.projects {
  @include section;
}

.name {
  font-size: 10rem;
  text-align: center;
}

.occupation {
  font-size: 3rem;
}


.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 16px;
  margin-bottom: 128px;

  @include tablet {
    min-height: 100vh;
    margin-bottom: 0;
  }

  &__copy {
    max-width: 41rem;
    width: 100%;
    line-height: 2;
    font-size: 1.3rem;
    text-align: center;

    @include tablet {
      text-align: left;
      text-indent: 4rem;
    }
  }
}

.projects {
  padding: 0 16px;

  @include tablet {
    padding: 0 64px;
  }

  @include desktop {
    padding: 0 128px;
  }

  &__heading {
    font-size: 4rem;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include tablet {
      gap: 16px;
    }
  }
}

.project {
  color: black;
  display: flex;
  gap: 16px;
  padding: 16px 0;
  flex-direction: column;
  width: 100%;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    padding: 32px;

    &:hover {
      background-color: orange;
    }
  }

  &__heading {
    font-size: 4rem;
    text-align: center;
  }

  &__left {
    @include tablet {
      flex: 1;
    }
  }

  &__image {
    width: 100%;
    border: 1px solid black;

    @include tablet {
      max-width: 300px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__link-mobile {
    color: blue;

    @include desktop {
      display: none;
    }
  }

  &__title {
    font-size: 1.5rem;
    color: black;
    margin: 0;
  }

  &__description {
    color: black;
    max-width: 500px;
    font-size: 1rem;
    color: #222;
    margin-top: 8px;
  }
}

.contact {

  &__heading {
    font-size: 4rem;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: black;

    @include desktop {
      &:hover {
        background-color: orange;
      }
    }
  }

  &__item {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;

  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__handle {
    flex: 1;
    font-size: 1rem;
    text-wrap: nowrap;

    @include tablet {
      font-size: 1.1rem;
    }
  }
}


@media screen and (max-width: 1100px) {
  .name {
    font-size: 7rem;
  }

}

@media screen and (max-width: 800px) {
  .name {
    font-size: 5rem;
  }

  .occupation {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 600px) {
  .about__copy {
    font-size: 1rem;
    line-height: 1.5;
  }

  .contact__heading,
  .projects__heading {
    font-size: 2.5rem;
    text-align: center;
  }

  .contact__link {
    font-size: 1rem;
  }

}

@media screen and (max-width: 374px) {
  .name {
    font-size: 2rem;
  }

  .occupation {
    font-size: 1rem;
  }

  .projects__heading,
  .contact__heading {
    font-size: 2rem;
  }

  .contact__link {
    font-size: 10px;
  }
}